div.card.circularCard {
    border-radius: 50%;
    width: 35%;
}

@media only screen and (max-width:1000px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container .card .content h2 {
        font-size: 5rem;
    }
}

@media only screen and (max-width:900px) {
    div.card.circularCard {
        border-radius: 20px;
    }
}

@media only screen and (max-width:700px) {
    div.card.circularCard {
        width: 50%;
    }
}

@media only screen and (max-width:600px) {
    .container .card .content h2 {
        font-size: 3rem;
    }
    .container .card .content h3 {
        font-size: 1rem;
    }
    .container .card .content {
        padding: 0 2px;
    }
    .container .card .content a {
        padding: 5px 25px;
    }
    div.card.circularCard {
        width: 50%;
        height: auto;
        padding: 40px 2px;
    }
    @media only screen and (max-width:480px) {
        div.card.circularCard {
            width: 80%;
        }
    }
}