.captions {
    color: white;
    text-align: center;
    z-index: 999999;
    margin: 0 auto;
    margin-top: -15%;
    -webkit-text-stroke: 0.1px black;
}

.captionHeading {
    font-size: 22px;
}

.captionPara {
    font-size: 18px;
}